// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



*{
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #6b6a6a;
    font-size: 15px;

}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #5bbc2e;
    padding-top: 5px;
    padding-bottom: 10px;
}


.navbar-nav {
    font-size: 15px;
    color: white;
    font-weight: 600;
}


.navbar-nav a {
    text-decoration: none;
    color: white;
}

.main-block {
    padding-top: 25px;
}

.main-block h2 {
    padding-top: 20px;
}

.main-block .emphasize {
    color: #308607;
}

.main-block img {
    padding-left: 130px;
}

.main-block p {
    font-size: 15px;
    color: #767575;
    font-weight: 400;
}



.ecobox-type--board {
    padding-bottom: 30px;

}

.card {
    border-radius: 0;
}

.ecobox-type--board col {
    padding-left: 5px;
    padding-right: 5px;
}


.ecobox-type-board img {
    width: 230px;
    height: 150px;
}

.card-text {
    font-size: 12px;
    color: #767575;
    font-weight: 800;
    text-transform: uppercase;
}

.card-btn {
    font-size: 12px;
    font-weight: 800;
    color: white;
    border: 1px solid transparent;
    padding: 4px 30px;
}

.card-btn-3 {
    background: rgb(194, 99, 194);
}

.card-btn-8 {
    background: rgb(194, 99, 194);
}


.footer {
    font-size: 12px;
    color: #e0e0e0;
    font-weight: 600;
    line-height: 3;
    background: #141414;
    padding: 5px;

}

.navbar-nav li {
    text-decoration:none;
    color: white;
}


.press-btn {
    background-color: #5bbc2e;
    border: transparent;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
}

.delete-btn {
    border: transparent;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    padding: 5px 15px 5px 15px;
}

.links a {
    text-decoration: none;
    color: #459122;
    font-size: 16px;

}


//.links a:current{
//    color: #e7f6e0;
//}

.table {
    color: #012101;
    font-size: 17px;
    background-color: #e6f5ce;
}


.table a {
    text-decoration: none;
    color: #4f4c4c;
}

.change-status-btn {
    background-color: #5bbc2e;
    border: transparent;
    border-radius: 15px;
    font-size: 13px;
}

.headline {
    color:#767575;
}

.all-appl-block {
    background-color: #e5f8e5;
    margin-bottom: 100px;
}

.card-header {
    background: #5bbc2e;
    font-size: 15px;
    color: white;
}


.brigade-appl {
    margin-top: 150px;
}

